@tailwind base;
@tailwind components;
@tailwind utilities;

/* article:hover > .dinamic-width {
  max-width: 50%;
} */

/* article:hover {
  transform: translateY(-1rem);
} */

html {
  scroll-snap-type: y mandatory;
}

body {
  background-color: #f0f0f0;
}
